* {
    padding: 10px;
}

@media (min-width: 992px) {
    div#collapsibleNavId {
        display: none ! important;
    }
}

nav.navbar.navbar-expand-lg.navbar-light {
    background-color: grey;
    border: 2px solid;
}

.bg-color {
    background-color: grey;
}