* {
    margin: 10px;
}

h1 {
    text-align: center;
}

div.relative {
    position: relative;
    border: 3px solid black;
    /* padding-top: 30px; */
    float: left;
    background-color: grey;
}

div.relative p {
    padding-top: 20px;
}

div.absolute span {
    position: absolute;
    width: 100px;
    height: auto;
    top: -12px;
    right: -12px;
    background: grey;
    color: white;
    border: 2px solid black;
    text-align: center;
}

#chicken {
    background-color: #D59898;
    color: black;
}

#beef {
    background-color: #C14543;
    color: white;
}

#sushi {
    background-color: #E5D198;
    color: black;
}

/* Desktop View */
@media(min-width: 992px) {
    div.relative {
        width: 30%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    div.relative {
        width: 45%;
    }

    #medium {
        width: 93.3%;
    }
}

@media (max-width:767px) {
    div.relative {
        width: 98%;
    }
}